
{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>IS 218 Tutorial</title>

  <meta name="author" content="SitePoint">

  <meta property="og:title" content="IS 218 Tutorial">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body class="background-color">

  <h1 class="text-center heading-padding">Calculator</h1>

  <div class="card card-size mx-auto">
    <h1>My Calculator</h1>
     {% if error %}
         <div class="alert alert-danger error" role="alert">
             {{ error }}
        </div>
      {% endif %}
  <div class="mb-3 row">

    <form action="/calculator" method="POST">
        <label for="value1" class="col-sm-2 col-form-label">Value 1:</label><br>
        <input type="text" id="value1" name="value1" value="1"><br>
        <label for="value2" class="col-sm-2 col-form-label">Value 2:</label><br>
        <input type="text" id="value2" name="value2" value="2"><br>
        <fieldset>
        <legend>Operation</legend>
          <div>
            <input type="radio" name="operation" id="addition" value="addition" checked>
            <label for="addition">addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtraction">
            <label for="subtraction">subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiplication">
            <label for="multiplication">multiplication</label>
          </div>
            <div>
            <input type="radio" name="operation" id="division" value="division">
            <label for="division">division</label>
          </div>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
  </div>
  </div>
  <br>
</body>
</html>
{% endblock %}